/* normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

body {
  margin: 0;
  font-family: 'Roboto';
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  /* 1 */
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

body {
  margin: 0;
  font-family: 'Roboto';
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  /* 1 */
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Local variables */

/* Site styles */

/* Componets main */

h3 {
  color: #00bcb4;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

header {
  min-height: 85px;
  max-height: 85px;
  background-color: #333;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  z-index: 1;
}

.navigation-bar {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.navigation-logo {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.navigation-menu {
  height: 100%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 85px;
}

.navigation-menu>ul li a,
#navigation-menu-dropdown li a {
  color: #fff;
}

#navigation-menu-dropdown li a:hover,
#navigation-menu-dropdown li a:focus {
  background: #f5f5f5;
  color: #262626;
}

/**
 * Menú responsivo - sobreescribe algunos valores de bootstrap para lograr el estilo original
 **/

.navbar-default {
  /* Copia de .navigation-bar */
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  /* Fin copia */
  background-color: transparent;
  margin-bottom: 0;
  border: none;
}

.navbar-default .container {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

.navbar-default .container .navbar-header {
  height: 100%;
}

.navbar-default .navbar-brand {
  padding: 7px 15px;
}

.navbar-default .navbar-toggle {
  border-color: #00bcb4;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #00bcb4;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  border-color: #ddd;
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #ddd;
}

.navbar-default .navbar-collapse {
  background-color: #333;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>p {
  color: white;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #00bcb4;
  background-color: transparent;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  color: #00bcb4;
  background-color: transparent;
}

.navbar-default .nav.navbar-nav li a,
#navigation-menu-dropdown li a {
  color: #fff;
}

.navbar-default nav.navbar-nav .dropdown-menu>li>a:focus,
.nav.navbar-nav .dropdown-menu>li>a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>p {
  padding: 10px 15px;
  line-height: 20px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .navbar-default .container .navbar-collapse {
    height: 100%;
  }

  .navbar-default .nav.navbar-nav {
    height: 85px;
  }

  .navbar-default .navbar-nav>li {
    height: 100%;
    line-height: 85px;
    margin: 0px 8px;
  }

  .navbar-default .navbar-nav>li>a,
  .navbar-default .navbar-nav>li>p {
    margin-top: 33px;
    padding: 0;
  }
}

@media screen and (max-width: 1120px) and (min-width: 815px) {
  .navbar-default .nav.navbar-nav {
    max-width: 400px;
  }

  .navbar-default .navbar-nav>li {
    height: 42px;
    line-height: 42px;
  }

  .navbar-default .navbar-nav>li>a,
  .navbar-default .navbar-nav>li>p {
    margin-top: 11px;
  }
}

@media screen and (max-width: 814px) and (min-width: 768px) {
  .navbar-default .nav.navbar-nav {
    max-width: 350px;
  }

  .navbar-default .navbar-nav>li {
    height: 29px;
    line-height: 29px;
  }

  .navbar-default .navbar-nav>li>a,
  .navbar-default .navbar-nav>li>p {
    margin-top: 5px;
  }
}

@media screen and (max-width: 1120px) {
  .navbar-default .navbar-right li img {
    margin-top: 15px;
    height: 50px;
  }
}

@media screen and (max-width: 940px) and (min-width: 768px) {
  .navbar-default .navbar-right li img {
    height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-default .navbar-right li {
    text-align: center;
  }

  .navbar-default .navbar-right li:not(:last-child) {
    margin-bottom: 15px;
  }

  .navbar-default .navbar-right li img {
    margin-top: 0px;
    height: auto;
  }
}

/**
 * Mapa
 **/

.map-container {
  width: 100%;
  background-image: url("../img/logo_mapa.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

.instance-map {
  width: 100%;
  height: 100%;
}

.upload-form {
  min-width: 400px;
  max-width: 400px;
  height: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  right: -50%;
  z-index: 1;
  -webkit-box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.19), -6px 0px 6px rgba(0, 0, 0, 0.23);
  box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.19), -6px 0px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 16px;
  overflow-y: scroll;
}

footer {
  height: 35px;
  max-height: 35px;
  background-color: #333;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #00bcb4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 35px;
}

/* Componets attributes */

.list-container-horizontal {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0px 20px;
  font-size: 14px;
  text-align: left;
}

.list-container-horizontal>li {
  display: inline-block;
  list-style: none;
  margin: 0px 5px;
}

.list-container-horizontal>li>a {
  color: #00bcb4;
}

.popup-click {
  position: absolute;
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #333;
  visibility: collapse;
  padding: 16px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #fff;
  text-align: center;
  z-index: 99;
}

.popup-click:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.popup-click>a {
  color: #fff;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.popup-click>a:hover {
  color: #00bcb4;
}

.popup-close {
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 10px;
  position: relative;
}

.popup-close:after {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  height: 16px;
  background-image: url("../img/cancel.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card {
  width: 100%;
  background-color: #fafafa;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #00bcb4;
  margin-bottom: 16px;
}

.card>span {
  display: inline-block;
  width: 100%;
  text-align: right;
  margin-top: 16px;
}

.card>span>a:hover {
  color: #00bcb4;
}

.card:last-child {
  margin-bottom: 0px;
}

.counter-result {
  color: #00bcb4;
  font-size: 20px;
  margin-top: 8px;
}

.form-group input,
.form-group textarea {
  color: #333;
}

.form-group input[type=file] {
  color: #fff;
}

.form-group {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 16px;
}

.form-group>label {
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin: 4px 0;
}

.form-group>input {
  width: 100%;
  margin: 4px 0;
}

.form-group>textarea {
  width: 100%;
}

.form-group>button {
  width: 80%;
}

.form-group>div {
  width: 100%;
  margin: 4px 0;
  font-size: 14px;
}

@media screen and (max-width: 850px) {
  .form-group>div {
    display: none;
  }
}

.login-menu {
  border-bottom: solid 1px #00bcb4;
}

.login-button {
  white-space: nowrap;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
  cursor: pointer;
  border: solid 1px transparent;
  border-bottom: none;
  text-align: center;
}

.login-button:hover {
  border: solid 1px #00bcb4;
  border-bottom: none;
}

.login-button-active {
  background-color: #00bcb4;
}

.login-active {
  display: auto;
}

.login-hidde {
  display: none;
}

.regitro-hide {
  display: none;
}

.registro-active {
  display: auto;
}

.remember-active {
  display: auto;
}

.remember-hide {
  display: none;
}

.login-fields {
  width: 100%;
}

.login-fields>label {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  margin-top: 16px;
}

.login-fields>input {
  width: 100%;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: none;
  height: 30px;
  line-height: 30px;
}

.login-fields>button {
  width: 100%;
  border: solid 1px #00bcb4;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #00bcb4;
  margin-top: 16px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

/* grid */

.row-container-center {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

@media screen and (max-width: 850px) {
  .row-container-center {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.row50 {
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
}

@media screen and (max-width: 850px) {
  .row50 {
    width: 100%;
  }
}

/*Properties */

.padding-left {
  padding-left: 16px;
}

.center {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#delete-marker {
  background: none;
  border: none;
  display: inline;
  font: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  outline-offset: 0;
  /* Additional styles to look like a link */
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input,
.menu-search input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

.menu-search input {
  width: 300px !important;
  margin-left: 0;
}

@media screen and (max-width: 530px) {
  .menu-search input {
    width: 200px !important;
  }
}

@media screen and (max-width: 425px) {
  .menu-search input {
    width: 150px !important;
  }
}

@media screen and (max-width: 350px) {
  .menu-search input {
    width: 150px !important;
  }

  .menu-search .btn {
    padding: 8px 5px;
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .menu-search input {
    width: 120px !important;
  }
}

#pac-input:focus {
  border-color: #4d90fe;
}

.close {
  opacity: 1;
  color: #fff;
  text-shadow: none;
}

.close:focus,
.close:hover {
  color: #fff;
  opacity: .5;
}

.modal-header {
  border-bottom: none;
  padding: 10px 15px 0;
}

.modal-content {
  background: #333;
}

.dropdown-menu {
  background: #333;
  margin: 0;
  padding: 0 5px;
  border-radius: 0;
}

.dropdown-menu .menu-search input {
  margin-left: 0
}

.nav-tabs {
  border-bottom: 1px solid #3f3f3f;
}

.nav-tabs>li>a {
  background: #3f3f3f;
  color: #fff;
}

.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
  background: #00bcb4;
  border-color: #00bcb4;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: #fff;
  background: #00bcb4;
  border-color: #00bcb4;
}

.modal .tab-pane label {
  color: #fff;
}

.modal .tab-pane input {
  color: #333;
}

.modal-body {
  color: #fff;
}

.modal .title {
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

#modal-counter .counter-result p {
  margin-bottom: 0;
  color: #00bcb4;
  text-align: center;
}

#modal-counter img {
  margin: 0 auto;
  display: block;
}

#modal-upload-form .form-group>label {
  color: #aa46ab;
}

#modal-upload-form .form-group>label span {
  font-style: italic;
  /* text-decoration: underline; */
  color: lightgray;
}

#modal-upload-form .btn {
  background: #00bcb4;
  color: white;
  border: none;
}

.delete-marker {
  cursor: pointer;
  color: #333;
}

.delete-marker:hover,
.delete-marker:focus {
  color: #00bcb4;
  text-decoration: underline;
}

#ul_tags {
  color: #fff;
}

#ul_tags li {
  line-height: 20px;
  cursor: pointer;
}

#ul_tags li>p:hover {
  text-decoration: underline;
}

#ul_tags li>ul>li:hover {
  text-decoration: underline;
}

#ul_tags .ul_inside {
  margin-left: 20px;
}

#ul_tags .ul_inside li,
#ul_tags .ul_inside li a {
  color: #777;
}

#todo_tag {
  line-height: 20px;
  cursor: pointer;
}

#todo_tag p:hover {
  text-decoration: underline;
}

#ul_fono {
  line-height: 20px;
  cursor: pointer;
}

#ul_fono p {
  color: white;
}

#ul_fono p:hover {
  text-decoration: underline;
}

#fono_tag {
  line-height: 20px;
  cursor: pointer;
}

#fono_tag p:hover {
  text-decoration: underline;
}

.tag_info_window {
  cursor: pointer;
}

.tag_info_window:hover {
  text-decoration: underline;
}

.gm-style-iw {
  width: 300px !important;
  top: 15px !important;
  left: 0px !important;
  background-color: #333;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid rgba(72, 181, 233, 0.6);
  border-radius: 10px;
  max-height: 450px;
  overflow: auto !important;
}

.gm-style-iw.exceeded:after {
  position: absolute;
  width: 326px;
  height: 25px;
  bottom: 0px;
  /* right: 18px; */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
}

.iw-container {
  margin-bottom: 10px;
}

.iw-container .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  background-color: #333;
  color: #00bcb4;
  margin: 0;
  border-radius: 2px 2px 0 0;
}

.iw-container .iw-content {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 1px;
  padding: 5px 15px 15px 15px;
  /*max-height: 140px;*/
  /*overflow-y: auto;
    overflow-x: hidden;*/
  background: #333;
  color: #fff;
}

.iw-container .iw-content h4,
.iw-container .iw-content h5,
.iw-container .iw-content h6 {
  margin-bottom: 0px;
  color: #00bcb4;
}

.iw-content img {
  float: right;
  margin: 0 5px 5px 10px;
}

.iw-content p {
  text-align: justify;
}

.iw-content audio,
.iw-content audio[controls] {
  min-height: 50px;
}

.iw-subTitle {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
}

.iw-bottom-gradient {
  position: absolute;
  width: 326px;
  height: 25px;
  bottom: 0px;
  /* right: 18px; */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
}

.modal .iw-bottom-gradient {
  display: none;
}

/*pagination*/

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
  color: #fff !important;
  background: none !important;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  background: none !important;
  border-color: none !important;
  color: #fff;
}

.pagination>li>a,
.pagination>li>span {
  background: none !important;
  border: none !important;
}

#page-selection .pagination {
  display: table !important;
  margin: 20px auto !important;
}

#page-selection-2 .pagination {
  display: table !important;
  margin: 20px auto !important;
}

.iw-container img,
.iw-container audio {
  width: 100%;
}

audio::-webkit-media-controls-enclosure {
  overflow: hidden;
}

audio::-webkit-media-controls-panel {
  width: calc(100% + 30px);
  /* Adjust as needed */
}

/* SPINNER */
#spinner {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0, .5);
  color: #fff;
}

#spinner i {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  -webkit-padding-start: 0;
  display: block;
  top: 40%;
}

/* GPS */
#current-location {
  position: absolute;
  top: 50px;
  left: 10px;
}

@media screen and (max-width: 767px) {
  #current-location {
    top: auto;
    bottom: 50px;
    left: 10px;
  }
}