{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mapa Sonoro</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/site.css" %}">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
</head>
<body>
    <div class="wrapper">
        <header>
            <nav class="navigation-bar">
                <div class="navigation-logo">
                    <a href="/">
                        <img src="{% static "img/logo_mapa.png" %}" alt="" />
                    </a>
                </div>

                <div class="navigation-menu">
                    <ul class="list-container-horizontal">
                        {% if user.is_authenticated %}
                            <li>
                                <p style="color:white">{{request.user.username}}</p>
                            </li>
                            <li>
                                <a href="/logout">Cerrar Sesión</a>
                            </li>
                            <li>
                                <a data-toggle="modal" data-target="#modal-cambiar">Cambiar contraseña</a>
                            </li>
                            <input type="hidden" name="session" id="session" value="true">
                            {% if messages %}
                                {% for mensajito in messages %}
                                    <input type="hidden" id="error" value="{{ mensajito|safe }}">
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            <li>
                                <a data-toggle="modal" data-target="#modal-login">Inicia Sesión</a>
                            </li>
                            <input type="hidden" name="session" id="session" value="false">
                            {% if messages %}
                                {% for mensajito in messages %}
                                    <input type="hidden" id="error" value="{{ mensajito|safe }}">
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        <li>
                            <a data-toggle="modal" data-target="#modal-counter">Contador de audios</a>
                        </li>
                        <li>
                          <a data-toggle="modal" data-target="#modal-buscador">Buscador</a>
                        </li>
                        <!-- <li role="presentation" class="dropdown">
                          <a class="dropdown-toggle" id="btn-dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                          Buscador <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu buscador-dropdown">
                            <li>
                              <div class="menu-search">
                                <form class="navbar-form navbar-search" role="search">
                                    {% csrf_token %}
                                  <div class="input-group">
                                    <div class="input-group-btn">
                                      <button type="button" class="btn btn-search btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="label-icon">Filtro</span>
                                        <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-left" id="navigation-menu-dropdown" role="menu">
                                          <li>
                                            <a href="#">
                                              <span class="label-icon">Tag</span>
                                            </a>
                                          </li>
                                          <li>
                                            <a href="#">
                                              <span class="label-icon">Estado</span>
                                            </a>
                                          </li>
                                          <li>
                                            <a href="#">
                                              <span class="label-icon">Fonografista</span>
                                            </a>
                                          </li>
                                        </ul>
                                      </div>
                                      <input type="text" class="form-control" id="busqueda">
                                        <div class="input-group-btn">
                                          <button type="button" class="btn btn-search btn-default" id="buscar_tipo">
                                            Buscar
                                          </button>
                                        </div>
                                    </div>
                                </form>
                              </div>
                            </li>
                          </ul>
                        </li> -->
                        <li role="presentation" class="dropdown">
                          <a class="dropdown-toggle tags" id="btn-dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                          Tags <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" id="ul_tags">
                            <li class="li_tags" id="click_todo_tag">
                                <a data-toggle="modal" data-target="#modal-tags">Todos</a>
                            </li>
                            <li>
                                <p onclick="show_all_audios()">Mostrar Todo</p>
                            </li>
                          </ul>
                      </li>
                      <li role="presentation" class="dropdown">
                        <a onclick="get_fonografista()" class="dropdown-toggle" id="btn-dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Fonografistas <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" id='ul_fono'>
                            <li id="li_fono">
                                <a data-toggle="modal" data-target="#modal-fonografistas">Todos</a>
                            </li>
                            <li>
                                <p onclick="show_all_audios()">Mostrar Todo</p>
                            </li>
                        </ul>
                    </li>
                    </ul>
                </div>

                <div class="navigation-logo">
                    <img src="{% static "img/logo_cultura.png" %}" alt="" />
                </div>
            </nav>
        </header>
        <section class="map-container">
            <input id="pac-input" class="controls" type="text" placeholder="Buscar direccion">
            <div class="instance-map" id="map">

            </div>
            <aside class="upload-form" id="info_aside">
                <h3>Lugares cercanos</h3>
            </aside>
        </section>
        <footer>
            <ul class="list-container-horizontal">
                <li>
                    <a data-toggle="modal" data-target="#modal-about">Acerca de</a>
                </li>
                <li>
                    <a data-toggle="modal" data-target="#modal-instructions">Instrucciones</a>
                </li>
            </ul>
        </footer>





        {% include "modals.html" %}
    </div>
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw hidden" id="spinner"></i>
    <span class="sr-only">Loading...</span>
    <div class="popup-click">
      <span class="popup-close"></span>
      <a class="js-make-pin">Crear un pin y subir audio</a>
      <img src="{% static "img/pin.png" %}" alt="" />
    </div>


    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/map-style.js" %}"></script>
    <script type="text/javascript" src="{% static "js/events.js" %}"></script>
    {% static "js/initial.js" as jsInitial %}
    <script type="text/javascript" src="{{ jsInitial }}?201803211538"></script>
    <script type="text/javascript" src="{% static "js/api-request.js" %}"></script>
    <!-- cdn for modernizr, if you haven't included it already -->
    <script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
    <!-- polyfiller file to detect and load polyfills -->
    <script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
    <script>
        webshim.setOptions('forms-ext', {
            replaceUI: 'auto'
        });
      webshims.polyfill('forms forms-ext');

    </script>
    <script type="text/javascript" src="https://rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNKPRl_Bg8dpyC5xz7s679nrDoRMkVTmQ&v=3.exp&libraries=places&callback=initAutocomplete"></script>
</body>
</html>
