{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mapa Sonoro</title>
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    {% static "css/site.css" as cssSite %}
    <link rel="stylesheet" href="{{ cssSite }}?v=201806251709">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                            <span class="sr-only">Ver menú</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                            <img src="{% static "img/logo_mapa.png" %}" alt="" />
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="main-menu">
                        <ul class="nav navbar-nav">
                            {% if user.is_authenticated %}
                                <li>
                                    <p>{{request.user.username}}</p>
                                </li>
                                <li>
                                    <a href="/logout">Cerrar Sesión</a>
                                </li>
                                <li>
                                    <a data-toggle="modal" data-target="#modal-cambiar">Cambiar contraseña</a>
                                </li>
                                <input type="hidden" name="session" id="session" value="true">
                                {% if messages %}
                                    {% for mensajito in messages %}
                                        <input type="hidden" id="error" value="{{ mensajito|safe }}">
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                <li>
                                    <a data-toggle="modal" data-target="#modal-login">Inicia Sesión</a>
                                </li>
                                <input type="hidden" name="session" id="session" value="false">
                                {% if messages %}
                                    {% for mensajito in messages %}
                                        <input type="hidden" id="error" value="{{ mensajito|safe }}">
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            <li>
                                <a data-toggle="modal" data-target="#modal-counter">Contador de audios</a>
                            </li>
                            <li>
                              <a data-toggle="modal" data-target="#modal-buscador">Buscador</a>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle tags" id="btn-dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    Tags <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" id="ul_tags">
                                    <li class="li_tags" id="click_todo_tag">
                                        <a data-toggle="modal" data-target="#modal-tags">Todos</a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="show_all_audios()">Mostrar Todo</a>
                                    </li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a onclick="get_fonografista()" class="dropdown-toggle" id="btn-dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    Fonografistas <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" id='ul_fono'>
                                    <li id="li_fono">
                                        <a data-toggle="modal" data-target="#modal-fonografistas">Todos</a>
                                    </li>
                                    <li>
                                        <p onclick="show_all_audios()">Mostrar Todo</p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li onclick="window.location='http://www.fonotecanacional.gob.mx/'"><img src="{% static "img/logo_fonoteca.png" %}" alt="FONOTECA NACIONAL" /></li>
                            <li><img src="{% static "img/logo_cultura.png" %}" alt="" /></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container -->
            </nav>
        </header>
        <section class="map-container">
            <input id="pac-input" class="controls" type="text" placeholder="Buscar dirección">
            <div class="instance-map" id="map">
            </div>
            <button id="current-location" class="btn btn-default" onclick="current_location()"><i class="fa fa-location-arrow"></i> Ubicación actual</button>
            <aside class="upload-form" id="info_aside" style="display: none;">
                <h3>Lugares cercanos</h3>
            </aside>
        </section>
        <footer>
            <ul class="list-container-horizontal">
                <li>
                    <a data-toggle="modal" data-target="#modal-about">Acerca de</a>
                </li>
                <li>
                    <a data-toggle="modal" data-target="#modal-instructions">Instrucciones</a>
                </li>
            </ul>
        </footer>

        {% include "modals.html" %}
    </div>
    <div class="hidden" id="spinner">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>
    <span class="sr-only">Loading...</span>
    <div class="popup-click">
      <span class="popup-close"></span>
      <a class="js-make-pin">Crear un pin y subir audio</a>
      <img src="{% static "img/pin.png" %}" alt="" />
    </div>


    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/map-style.js" %}"></script>
    <script type="text/javascript" src="{% static "js/events.js" %}"></script>
    {% static "js/initial.min.js" as jsInitial %}
    <script type="text/javascript" src="{{ jsInitial }}?v=202003241515"></script>
    {% static "js/api-request.js" as jsApi %}
    <script type="text/javascript" src="{{ jsApi }}?v=201909262330"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23564267-5"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-23564267-5');
    </script>
    <!-- cdn for modernizr, if you haven't included it already -->
    <script src="https://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
    <!-- polyfiller file to detect and load polyfills -->
    <script src="https://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
    <!-- Overlapping Marker Spiderfier for Google Maps API v3 -->
    <script src="{% static "js/oms.min.js" %}"></script>
    <script>
        webshim.setOptions('forms-ext', {
            replaceUI: 'auto'
        });
      webshims.polyfill('forms forms-ext');
    </script>
    <script type="text/javascript" src="https://rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>
    <script src="{% static "js/markerclusterer.min.js" %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyjPImP1kk-Hh31cxk0r7fvFcksun_rCs&v=3.exp&libraries=places&callback=initAutocomplete"></script>
</body>
</html>
