{% load static %}

<!-- MODAL INICIO SESIÓN -->
<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#signin" aria-controls="signin" role="tab" data-toggle="tab">Iniciar sesión</a></li>
          <li role="presentation"><a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Registrarse</a></li>
          <li role="presentation"><a href="#password" aria-controls="password" role="tab" data-toggle="tab">¿Olvidaste tu contraseña?</a></li>
        </ul>

        <!-- tab content -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="signin">
            <form class="" method="post" id="form-signin">
              {% csrf_token %}
              <div class="login-fields">
                <label for="">Usuario</label>
                <input type="text" name="username" value="">
              </div>
              <div class="login-fields">
                <label for="">Contraseña</label>
                <input type="password" name="password" value="">
              </div>
              <input type="hidden" name="action" value="sing_in">
              <br>
              <p id='error_message' style="color: red;"></p>
              <div class="login-fields">
                <button type="submit" name="button" class="js-sign-in-form">Entrar</button>
              </div>
            </form>
          </div>
          <div role="tabpanel" class="tab-pane" id="signup">
            <form class="" method="post" id="form-signup">
              {% csrf_token %}
              <div class="login-fields">
                <label for="">Correo electrónico</label>
                <input type="email" name="email" value="">
              </div>
              <div class="login-fields">
                <label for="">Usuario</label>
                <input type="text" name="username" value="">
              </div>
              <div class="login-fields">
                <label for="">Contraseña</label>
                <input type="password" name="password" value="">
              </div>
              <input type="hidden" name="action" value="sing_up">
              <div class="login-fields">
                <button type="submit" name="button" class="js-sign-up-form">Registrarse</button>
              </div>
            </form>
          </div>
          <div role="tabpanel" class="tab-pane" id="password">
            <form class="" method="post" id="form-remember">
                {% csrf_token %}
                <div class="login-fields">
                  <label for="">Correo electrónico</label>
                  <input type="email" name="email" value="">
                </div>
                <input type="hidden" name="action" value="recuperar">
                <div class="login-fields">
                    <button type="submit" name="button" class="js-remember-form">Recuperar Contraseña</button>
              </div>
            </form>
          </div>
        </div>
        <!-- end tab content -->

      </div>
    </div>
  </div>
</div>
<!-- END MODAL INICIO SESIÓN -->


<!-- MODAL CAMBIAR CONTRASEÑA -->
<div class="modal fade" id="modal-cambiar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">


        <!-- tab content -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="signin">
            <form class="" method="post" id="form-change">
              {% csrf_token %}
              <div class='login-fields'>
                  <label for="">Contraseña actual</label>
                  <input type="text" id="actual_password" name="actual_password" value="">
              </div>
              <div class="login-fields">
                <label for="">Contraseña</label>
                <input type="text" id="password-1" name="password-1" value="">
              </div>
              <div class="login-fields">
                <label for="">Repetir nueva Contraseña</label>
                <input type="password" id="password-2" name="password-2" value="">
              </div>
              <input type="hidden" name="action" id="action" value="cambiar">
              <br>
              <p id='error_message-2' style="color: red;"></p>
              <div class="login-fields">
                <input type="button" name="button" id='change_pass' class="js-sign-in-form" value="Entrar" >
              </div>
            </form>
          </div>
        </div>
        <!-- end tab content -->

      </div>
    </div>
  </div>
</div>
<!-- FIN MODAL CAMBIAR CONTRASEÑA -->

<!-- MODAL CONTADOR -->
<div class="modal fade" id="modal-counter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p class="title">Contador de audios</p>
        <img src="{% static "img/pin.png" %}" alt="" />
        <div class="counter-result">
          <p id="audio_counter"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL CONTADOR -->


<div class="modal fade" id="modal-upload-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>
              Subir audio
              <button type="button" class="close cierra" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </h3>
        </div>
        <div class="modal-body">
          <form class="" name="audio_form" action="upload-audio/" method="post" id="upload-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="title">Título</label>
                  <input type="text" id="upload-title" class="form-control tooltipped" name="title" title="Titula tu grabación y procura que el título describa el contenido de tu audio." required>
                </div>
              </div>
              <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="audio_file">Audio <span data-toggle="tooltip" data-placement="right" title="Tu audio en formato ogg, mp3 o m4a"><i class="fa fa-info-circle"></i></span></label>
                  <input type="file" id="audio" name="audio_file" accept=".mp3,.ogg,.m4a" onchange="validateFile(this)" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="photo">Foto <span data-toggle="tooltip" data-placement="right" title="Puedes subir una foto que muestre el lugar o sujeto grabado (opcional)"><i class="fa fa-info-circle"></i></span></label>
                  <input type="file" id="upload-photo" name="photo" required>
                </div>
              </div>
              <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="tags">Tag</label>
                  <input type="text" id="tags" name="tags" class="form-control tooltipped" title="Si lo deseas, añade uno o varios tags para tu audio. Ejemplo: #música #plazas #Coyoacán #Fiestas populares #Sonidos #naturales." required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="record_place">Ubicación</label>
                  <input type="text" id="upload-record-place" class="form-control js-place-form tooltipped" name="record_place" title="En caso de que el pin que creaste no sea exacto, señala el lugar donde se realizó la grabación con la mayor precisión posible. Incluye datos como la calle, localidad, poblado, municipio, ciudad y Estado.">
                </div>
              </div>
              <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="record_description">Equipo de grabación</label>
                  <input type="text" id="record_description" name="record_description" class="form-control tooltipped" title="Anota el equipo de grabación que utilizaste, ya sea tu celular, o una grabadora, consola y micrófonos específicos. Si usaste una técnica especial de grabación, la puedes compartir." required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="record_date">Fecha de la grabación</label>
                  <input type="date" id="fecha_grabacion" name="record_date" class="form-control" required>
                </div>
              </div>
              <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="record_time">Hora de la grabación</label>
                  <input type="time" id="hora_grabacion" name="record_time" class="form-control" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="author">Nombre de quien realizó la grabación</label>
                  <input type="text" id="autor" name="autor" class="form-control tooltipped" title="Escribe el nombre con el que quieres que aparezca el crédito de tu grabación." required>
                </div>
                <div class="form-group">
                  <label for="content_description">Descripción del audio</label>
                  <textarea id="content_description" name="content_description" class="form-control tooltipped" rows="8" cols="40" title="Describe brevemente las fuentes de los sonidos grabados, así como su contexto. Incluye información que enriquezca la experiencia auditiva. Máximo 500 caracteres, con espacios." required></textarea>
                </div>
              </div>
              <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="agree">
                    <input type="checkbox" name="author" value="" id="agree" required>
                    Acepto compartir mi audio bajo licencia de <span data-toggle="tooltip" title="El autor de esta obra ha renunciado a sus derechos de autor a la misma, pasando a formar parte del dominio público, de modo que el beneficiario puede usar la obra libremente para cualquier fin sin necesidad de solicitar permiso al autor de tal obra.">Creative Commons</span>.
                  </label>
                  <div class="form-text-info">
                    Previo a ser publicada, tu grabación será escuchada por el equipo del Mapa Sonoro de México encargado de supervisar la calidad de las grabaciones y de que éstas correspondan con los objetivos del proyecto.
                  </div>
                </div>

                <div class="form-group center">
                  <input type="hidden" name="location_data" value="" id="location_data">
                  <input type="hidden" name="lat" value="" id="upload_lat">
                  <input type="hidden" name="lng" value="" id="upload_lng">
                  <input type="hidden" name="geometry" value="" id="upload_geometry">
                  <button type="button" name="button" disabled="false" id="upload-button" class="btn btn-default">Subir</button>
                </div>
              </div>
            </div>
          </form>
          <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

          {{ audio_form.media }}
        </div>
      </div>

  </div>
</div>

<!-- MODAL INSTRUCCIONES -->
<div class="modal fade" id="modal-instructions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>
          {{instructions.title|safe}}
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </h3>
      </div>
      <div class="modal-body">
          {{instructions.content|safe}}
      </div>
    </div>
  </div>
</div>
<!-- END MODAL INSTRUCCIONES -->

<!-- MODAL ACERCA DE NOSOTROS -->
<div class="modal fade" id="modal-about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>
          {{about.title|safe}}
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </h3>
      </div>
      <div class="modal-body">
        {{about.content|safe}}
      </div>
    </div>
  </div>
</div>
<!-- END MODAL ACERCA DE NOSOTROS -->


<div class="modal fade" id="modal-tags" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body" id="todo_tag">
            <div id="content"></div>
            <div id="page-selection" class="paginator"></div>
        </div>
      </div>
    </div>
</div>


<div class="modal fade" id="modal-fonografistas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body" id="fono_tag">
            <div id="content-2"></div>
            <div id="page-selection-2" class="paginator"></div>
        </div>
      </div>
    </div>
</div>

<!-- MODAL BUSCADOR -->
<div class="modal fade" id="modal-buscador" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
          <div class="menu-search">
            <form class="navbar-form navbar-search" role="search">
                {% csrf_token %}
              <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-search btn-default dropdown-toggle" data-toggle="dropdown">
                      <span class="label-icon">Sin filtro</span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-left" id="navigation-menu-dropdown" role="menu">
                      <li>
                        <a href="#">
                          <span class="label-icon">Sin filtro</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="label-icon">Tag</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="label-icon">Estado</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="label-icon">Título</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="label-icon">Fonografista</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <input type="text" class="form-control" id="busqueda" onkeypress="return search(event)">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-search btn-default" id="buscar_tipo">Buscar</button>
                  </div>
                  <div class="input-group-btn">
                      <button type="button" class="btn btn-search btn-default" id="show_all">Todo</button>
                  </div>
                </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL BUSCADOR -->

<!-- MODAL INFO AUDIO -->
<div class="modal fade" id="modal-info-audio" tabindex="-1" role="dialog" aria-labelledby="infoAudioLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
<!-- END MODAL INFO AUDIO -->

<!-- MODAL ÉXITO -->
<div class="modal fade" id="modal-exito" tabindex="-1" role="dialog" aria-labelledby="exitoLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p class="title"><i class="fa fa-check text-success"></i>&nbsp;¡Gracias!</p>
        <p class="text-center message"></p>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL ÉXITO -->
<!-- MODAL ERROR -->
<div class="modal fade" id="modal-error" tabindex="-1" role="dialog" aria-labelledby="errorLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p class="title"><i class="fa fa-warning text-danger"></i>&nbsp;Lo sentimos</p>
        <p class="text-center message"></p>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL ERROR -->