{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" />
            </form>
        </div>
        <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

        {{ form.media }}
    </body>
</html>
